# Mellow FLY SHT CANbus Pin and Function Definition File
# Start with Basic Functionality
# Endstop 0            - PA0 X-Axis Stop
# Endstop 1            - PA1
# Endstop 2            - PA2
# SPI CS1              - PA4 (For ADXL345)
# SPI SCK              - PA5 (For ADXL345)
# SPI MISO             - PA6 (For ADXL345)
# SPI MOSI             - PA7 (For ADXL345)
# Nozzle Heater        - PA8
# Stepper Enable       - PA15
# Nozzle Thermistor    - PB0
# BL Touch "SERVO"     - PB1
# Stepper Direction    - PB3
# Stepper Step         - PB4
# Stepper UART         - PB5
# FAN0                 - PB10 Heatsink fan
# FAN1                 - PB11 Print level fan
# Stepper Diag         - PB12
# RGB                  - PB15 NOTE: Output Only
# BL Touch "PROBE"     - PC15

# 2023.01.20 - Added "canFly_temp" temperature sensor
#            - Cleaned up Extruder TMC2209 definition
#            - Updated BL Touch to get it to work with the four corner Z Axis Steppers
# 2023.01.23 - Setting BL Touch Offset
#            - Updated Extruder Distance
# 2023.01.25 - Moved [bltouch] statement into printer.cfg
# 2023.01.27 - Enabling the on board adxl345

[include led_progress.cfg]

[mcu canFly]
#Mellow FLY SHT42
canbus_uuid: aac33b9bb830

[temperature_sensor canFly_temp]
sensor_type: temperature_mcu
sensor_mcu: canFly
min_temp: 0
max_temp: 100


[adxl345]
cs_pin: canFly:PA4
#spi_speed: 5000000
#spi_bus:
spi_software_sclk_pin: canFly:PA5
spi_software_mosi_pin: canFly:PA7
spi_software_miso_pin: canFly:PA6
#axes_map: x, y, z   ### I'm hoping this is done by default
#rate: 3200

[resonance_tester]
accel_chip: adxl345
probe_points: 110, 110, 20

[neopixel panel_ring]
pin:                     canFly:PB15
chain_count:             2
#initial_RED:             1.0
#initial_GREEN:           1.0
#initial_BLUE:            1.0
#initial_WHITE:           1.0
color_order:             GRBW




[heater_fan heatsink_fan]
pin: canFly:PB10
# pin: canFly:PB11
max_power: 1.0
fan_speed: 1
kick_start_time: 0
heater: extruder
heater_temp: 30.0

[fan]
pin: canFly:PB11
# max_power: 1.0
# kick_start_time: 0

[extruder]
step_pin: canFly:PB4
dir_pin: canFly:PB3
enable_pin: !canFly:PA15
microsteps: 16
rotation_distance: 22.53
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 125
heater_pin: canFly:PA8
## sensor_type: EPCOS 100K B57560G104F <== I'm not sure where this came from 
sensor_type: Generic 3950
sensor_pin: canFly:PB0
pullup_resistor: 2200
control: pid
pid_Kp: 26.456
pid_Ki: 1.603
pid_Kd: 109.132
min_temp: 0
max_temp: 275

[tmc2209 extruder]
uart_pin: canFly:PB5
#tx_pin:
#select_pins:
#interpolate: True
run_current: 0.8
hold_current: 0.4
#sense_resistor: 0.110
stealthchop_threshold: 999999
#uart_address:
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 5
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 12
#driver_PWM_REG: 8
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 14
#driver_PWM_OFS: 36
#driver_SGTHRS: 70
diag_pin: canFly:PB12
