# ============================================================
# EBB 42 v1.2 (STM32G0B1) — экструдер, хотенд, вентиляторы,
# датчик филамента
# CAN bus PB0/PB1 @ 1000000 bps
# ============================================================

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1          # если крутит не туда — убери или добавь !
enable_pin: !EBBCan:PD2
microsteps: 16
rotation_distance: 5.44
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:PB13
sensor_type: Generic 3950     # NTC 100K B3950
sensor_pin: EBBCan:PA3
min_temp: 0
max_temp: 300
min_extrude_temp: 170
max_extrude_only_distance: 200
control: pid
pid_Kp: 29.581
pid_Ki: 4.287
pid_Kd: 51.028

[tmc2209 extruder]
uart_pin: EBBCan:PA15
run_current: 0.800
stealthchop_threshold: 0

# ============================================================
# ВЕНТИЛЯТОРЫ
# ============================================================
[fan]                          # FAN0 — обдув пластика (улитка)
pin: EBBCan:PA0

[heater_fan hotend_fan]        # FAN1 — охлаждение хотенда, авто при T > 50°C
pin: EBBCan:PA1
heater: extruder
heater_temp: 50.0

# ============================================================
# ДАТЧИК ФИЛАМЕНТА
# ============================================================
[filament_switch_sensor filament_sensor]
switch_pin: ^EBBCan:PB3
pause_on_runout: True
