[include mainsail.cfg]
[include debug.cfg]
[include core.cfg]
[include stepper.cfg]
# [include motor_test.cfg]  ← закомментируй

[mcu]
canbus_uuid: dde4eba60f0f

[mcu EBBCan]
canbus_uuid: 6269b37ddaba

[include ebb_can.cfg]
[printer]
kinematics: corexy
max_velocity: 280
max_accel: 5000
max_z_velocity: 10
max_z_accel: 100


