# ============================================================
# stepper.cfg
# ============================================================

[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PG6
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 50
homing_retract_dist: 5
second_homing_speed: 10

[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi1
run_current: 1.100
sense_resistor: 0.075
stealthchop_threshold: 0

# ============================================================
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: ^PG9
position_endstop: 350    # концевик сзади = максимум
position_min: 0
position_max: 350
homing_speed: 50
homing_retract_dist: 5
second_homing_speed: 10
homing_positive_dir: true  # Y+ идёт к заднему концевику

[tmc5160 stepper_y]
cs_pin: PD11
spi_bus: spi1
run_current: 1.100
sense_resistor: 0.075
stealthchop_threshold: 0

# ============================================================
# Z — главный мотор (Driver2)
# ============================================================
[stepper_z]
step_pin: PF11
dir_pin: !PG3            # ! → положительное = вверх
enable_pin: !PG5
microsteps: 16
rotation_distance: 40
gear_ratio: 80:20
endstop_pin: ^PG10
position_endstop: 0
position_min: 0
position_max: 350
homing_speed: 10
homing_retract_dist: 5
second_homing_speed: 3
homing_positive_dir: false

[tmc5160 stepper_z]
cs_pin: PC6
spi_bus: spi1
run_current: 1.100
sense_resistor: 0.075
stealthchop_threshold: 0

# ============================================================
# Z1 — Driver3
# ============================================================
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 40
gear_ratio: 80:20

[tmc5160 stepper_z1]
cs_pin: PC7
spi_bus: spi1
run_current: 1.100
sense_resistor: 0.075
stealthchop_threshold: 0

# ============================================================
# Z2 — Driver4
# ============================================================
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 40
gear_ratio: 80:20

[tmc5160 stepper_z2]
cs_pin: PF2
spi_bus: spi1
run_current: 1.100
sense_resistor: 0.075
stealthchop_threshold: 0

# ============================================================
# Z3 — Driver5
# ============================================================
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 40
gear_ratio: 80:20

[tmc5160 stepper_z3]
cs_pin: PE4
spi_bus: spi1
run_current: 1.100
sense_resistor: 0.075
stealthchop_threshold: 0
