[include mainsail.cfg]
[include debug.cfg]
[include core.cfg]
[include stepper.cfg]
# [include motor_test.cfg]  ← закомментируй

[mcu]
canbus_uuid: dde4eba60f0f

[mcu EBBCan]
canbus_uuid: 6269b37ddaba

[include ebb_can.cfg]

[heater_bed]
heater_pin: PA8               # FAN0 → оптопара MOC3063 → триак → 220V
sensor_pin: PF3
sensor_type: Generic 3950
control: pid
pid_Kp: 57.369
pid_Ki: 0.286
pid_Kd: 2872.015
min_temp: 0
max_temp: 130
pwm_cycle_time: 0.02          # 50 Гц (AC 220V, zero-crossing)

[safe_z_home]
home_xy_position: 150, 150   # центр стола 300x300
speed: 50
z_hop: 10                    # поднять Z на 10мм перед хомингом XY
z_hop_speed: 10

[printer]
kinematics: corexy
max_velocity: 280
max_accel: 5000
max_z_velocity: 10
max_z_accel: 100


